{% extends 'blog/base.html' %}
{% load static %}

{% block head_title %}关于网站，网站及博主介绍{% endblock %}
{% block metas %}
<meta name="description"
      content="DayDayUp_一个开阔视野，增加认知，获取美好资源的网站。本网站汇集了优秀文章和资源，Follow本网站，好好学习，天天向上吧">
<meta name="keywords" content="网站About页面,关于网站,关于博主">
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8" style="line-height:2">
            <div class="card rounded-0 border-0 p-3 f-16">{{ body|safe }}</div>
        </div>
        <div class="col-lg-4">
            {% include 'blog/tags/base_right.html' %}
        </div>
    </div>
</div>
{% endblock %}